<iframe width="800" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.fr/maps/ms?ie=UTF8&amp;hl=fr&amp;source=embed&amp;msa=0&amp;msid=203981809151466309002.0004a00364a8f1b5f959f&amp;ll=22.593726,-4.21875&amp;spn=141.149296,280.898438&amp;z=2&amp;output=embed"></iframe><br />
Afficher <a href="http://maps.google.fr/maps/ms?ie=UTF8&amp;hl=fr&amp;source=embed&amp;msa=0&amp;msid=203981809151466309002.0004a00364a8f1b5f959f&amp;ll=22.593726,-4.21875&amp;spn=141.149296,280.898438&amp;z=2" style="color:#0000FF;text-align:left">MesPhotos</a>
sur une carte plus grande.
<br>
Afficher <a href="http://www.newoueb.com/tagcloud.php" target="_blank">MesPhotos </a>par mots-clés.
