{% load static %}
<!--
<strong>Liens</strong>
<br>

<div class="monnom">
<a href="http://www.jduverger.com" target="_blank" title="portail voile, voyages & aventures">
<span class="style11">j</span><span class="style12">duverger</span><span class="style11">.com</span>
</a>
</div>
button('Autres liens')
-->
<strong>Contact</strong>
<br>
<a href="mailto:vivreaumanival**antispam***@free.fr?subject=contact jdblog">
<img src={% static "email.png" %} border='0'>Ecrivez moi/Send me a mail</a>
<br><br>
<strong>Site développé par </strong>
<br>
<a href="http://www.newoueb.com"><img src="{% static 'bandeau_newoueb_white.jpg' %}" border='1'></a>
