{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>vivre au manival</title>
</head>
<body>
&nbsp;&nbsp;<a href="{%url 'welcome'%}"><img src="{% static 'homeblack.png' %}"></a>
<br>
<div align="center">
<span ="styleh1">VIVRE AU MANIVAL</h1></span>
<h2>Bulletion d'adhésion</h2>
</div>
<br><br>
Le site du Manival sur lequel porte les activités de l’association Vivre au Manival est déterminé par la zone géographique en aval de la <a href="https://inpn.mnhn.fr/zone/znieff/820032106">ZNIEFF n°38180009</a> sur les communes de Saint-Ismier, Saint-Nazaire-les-Eymes et Bernin limitée au sud par la D1090.
<br><br>
L’association Vivre au Manival a pour buts :
<br>
1. de préserver le caractère naturel du site du Manival<br>
2. d’assurer en tous domaines la sauvegarde des intérêts des habitants des zones d’habitat du Manival et de veiller notamment, d’une part, lors de l’élaboration du plan prévisionnel des risques, d’autre part, lors de la modification ou de la révision du plan local d’urbanisme et lors de son application :<br>
-à la préservation du caractère résidentiel des zones urbanisées ;<br>
-au respect des règles d’urbanisme et au suivi des aménagements des infrastructures ;<br>
-à la bonne exécution des travaux liés aux mesures de sécurité prescrites dans le cadre du plan prévisionnel des risques.<br>
- de prendre en compte et de promouvoir toute initiative propre à préserver et améliorer les conditions et le cadre de vie des habitants des zones urbanisées du Manival.<br>
<br><br>
Conseil d’administration : Nicolas Balacheff, Gaël Bernard, Jean Bichard, Dominique Boisson, Jean-Marie Boulé, Nicole Lepaire, Christian Lovato, Olivier Plé, Claire Riquin, Geneviève Simond, Michel Sintès, Yannick Szybowicz
<br><br>
Bureau de l’association : Dominique Boisson, président ; Geneviève Simon, secrétaire ; Nicole Lepaire, trésorière.
<br><br>
Pour adhérer imprimer cette page et la retourner avec votre règlement à l’adresse :
<br><br>
Vivre au Manival — chemin de Bouffière cidex 304 B 38330 Saint Ismier<br>
Association Vivre au Manival — Bulletin d’adhésion 2021
<br><br>
Nom : …………………………………………      Prénom : ……………………………………………<br>
Adresse : …………………………………………………… Téléphone : ……………………………<br>
Courriel : ………………………………………………………………………………………<br>
<br><br>
Montant de l’adhésion : 10 euros par famille (chèque à l’ordre de Association Vivre au Manival)
</body>
</html>