{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>vivre au manival</title>
</head>
<body>
&nbsp;&nbsp;<a href="{%url 'welcome'%}"><img src="{% static 'homeblack.png' %}"></a>
<br>
<div align="center">
<span class="styleh1">VIVRE AU MANIVAL</h1></span>
<h2>Le Manival, un site remarquable</h2>
</div>
<br><br>Texte Christian Picard – riverain du Manival et enseignant-chercheur en Sciences de la Terre à l’université.<br>
Crédit photographique : M. Gidon, S. Gominet, C. Picard ; site internet GéoAlp<br>
<br>
Le torrent du Manival est cité dans de nombreux manuels scolaires de Sciences de la Vie et de la Terre comme l’un des plus remarquables cônes de déjection des Alpes. Ses crues, sont craintes des Ismérusiens… mais son environnement naturel en fait un cadre de vie exceptionnel. Le site du Manival est localisé dans la vallée du Grésivaudan sur les coteaux sud du Massif de la Chartreuse, en face du massif cristallin de Belledonne.<br>
<p align="center">
<img src="{% static 'article-Env.-geol-Manival-1.jpg' %}">
</p>
Ce dernier comprend différents matériaux cristallins d’âge paléozoïque (ère primaire) dont le massif de Chamrousse, formé pour l’essentiel par des roches (péridotites et méta-gabbros) qui, il y a 496 millions d’années (Ma), formaient le fond d’un bassin océanique de quelques milliers de mètres de profondeur. Soulevé et transformé une première fois vers 324 Ma lors de l’orogenèse hercynienne (qui a entraîné la formation du Massif central Français), le massif de Belledonne a été érodé, aplani à l’origine d’une pénéplaine dont la surface est encore visible sur les sommets du Grand Colon et de Chamrousse.<br>

Après une période de sédimentation continentale au Trias (245-205 ma), le massif cristallin de Belledonne a été abaissé au point de constituer le socle d’un nouveau bassin océanique où se sont déposés du Jurassique à la fin du Crétacé (de 200 à 60 Ma) les épaisses séries sédimentaires qui forment aujourd’hui la chaîne sub-alpine de la Chartreuse (cf. la barre calcaire jurassique du Tithonique qui forme le sous-bassement de St-Pancrasse et du St-Eynard ; et la barre calcaire Urgonienne de la Dent de Crolles).<br>
<p align="center">
<img src="{% static 'article-Env.-geol-Manival-2.jpg' %}">
</p>
Comment comprendre alors la morphologie actuelle de ces massifs ?<br>
<br>
C’est très simple, il suffit de s’imaginer il y a 120 millions d’années, assis sur la bordure récifale de la Dent de Crolles en train de contempler vers l’est un vaste océan, alors appelé la Téthys. Celui-ci séparait le continent européen de l’Afrique lointaine alors appelée l’Apulie…. Et puis récemment, de 110 à 45 millions d’années, la Téthys se referme. Les blocs continentaux européen et apulien entrent en collision (-35 Ma) et les Alpes sont portées en relief, et avec elles le massif cristallin de Belledonne qui va entraîner les matériaux océaniques de Chamrousse à plus de 2000 m d’altitude. Les sédiments de Chartreuse impliqués dans ce vaste mouvement de compression sont plissés et faillés et à leur tour portés en altitude…. Puis de nouveau une période de calme « relatif » s’installe… L’érosion des massifs prend le pas sur leur surrection, et conduit à la morphologie actuelle de Belledonne, du Grésivaudan et de la Chartreuse…<br>
<br>
N’allez pas imaginer que plus rien ne se produit… quelques secousses sismiques le long de la faille de Belledonne, l’élévation encore positive du massif de Belledonne, l’érosion du massif de la Chartreuse en sont les témoins, sans compter le façonnement par les glaciers lors de la dernière phase glaciaire…<br>
<br>
Alors que dire du Manival ?
<br>
Il est le résultat de tous ces évènements : la mise en altitude de la Chartreuse, l’érosion par l’eau et les glaciers. Le creusement du Manival depuis la dernière glaciation est notamment favorisé par la voussure anticlinale et les failles du Bec Charvet. La barre tithonique, plissée en anticlinal et faillée s’est effondrée sur elle-même à la faveur de l’érosion, entrainant la formation d’une reculée au pied du Charvet… Il en résulte le vaste bassin d’alimentation à l’origine du Manival actuel. Il aura donc fallu 350 millions d’années pour forger l’environnement géologique du torrent du Manival.<br>
<p align="center">
<img src="{% static 'article-Env.-geol-Manival-3.jpg' %}">
<br>
<img src="{% static 'article-Env.-geol-Manival-4.jpg' %}">
<br>
<img src="{% static 'article-Env.-geol-Manival-5.jpg' %}">
</p>
Aujourd’hui, le Manival est un torrent à écoulement fortement chargé qui recrute son matériel à partir de l’érosion de parois rocheuses. Comme tout torrent, il se décompose en trois zones principales : un bassin de réception (de 1738 à 872 m d’altitude); un chenal d’écoulement (de 872 à 560 m d’altitude) et un cône de déjection (de 560 à 222 m d’altitude au niveau de l’Isère). La superficie totale de son bassin versant (ou de réception) est de 7,3 km². Sa pente générale est de 20% environ et la longueur de son plus long talweg est de 7 km.<br>
<p align="center">
<img src="{% static 'article-Env.-geol-Manival-6.jpg' %}">
<:p>
Le Manival est un torrent capricieux. De 1673 à nos jours, 47 événements torrentiels majeurs dont 7 évènements de lave torrentielle (21 mars 1968, 1er sept 1991, 30/31 mai 1992, 29 juin 1998, 13 mai 2000, et le plus récent le 6 juillet 2008) ont été répertoriés. Pour ces raisons, ce torrent est protégé. Ainsi, depuis quelques dizaines d’années, les barrages en béton (ou seuils – travaux du RTM) ont peu à peu remplacé ceux construits en pierres sèches à la fin du XIXè siècle. Destinés à stabiliser le profil en long du torrent, ils transforment ce dernier en une série de marches d’escaliers faiblement inclinées vers l’aval. Ces seuils brisent l’énergie du torrent et provoquent le dépôt de matériaux à l’amont de chaque petit barrage, dont la retenue se comble peu à peu.<br>
<br>
Illustrations : (1) Vue générale du cône de déjection du Manival et du massif de la Chartreuse, depuis le massif de Belledonne (photo S. Gominet) ; (2) Vue générale du cône de déjection du Manival et de son environnement géologique depuis la trouée verte de Baratière (site remarquable à protéger)- (photo C. Picard 2009) ; (3) Le torrent du Manival en crue le 6 juillet 2008 (photo C. Picard)<br>
</body>
</html>